<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A student project :)">
    <meta name="Author" content="Jakob Ravnestad">
    <meta name="Author" content="Martynas Smilingis">
    <title>Memes</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/TabIcon.ico">

    <!-- Include the CSS files -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/headerStyles.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/secretStyle.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/buttonStyles.css')}}">
</head>
<body>
    <!-- Title Section -->
    <header class="header-container">
        <a href="/">
            <img src="/static/images/homeIcon.png" alt="Home">
        </a>
        <text>Memes</text>
    </header>

    <!-- Button Section -->
    <div>
        <button class="square-button" onclick="give_new_meme()">Gib new meme :3</button>
    </div>

    <!-- Memes -->
    <div class="memes-container">
        <img id="memePicture" src="/static/images/memes/gandalf.gif" alt="Secret Image">
    </div>

    <!-- Include the JavaScript files for dynamic behavior -->
    <script src="/static/scripts/buttonBehaviour.js"></script>
</body>
</html>
